.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  box-shadow: 0 2px 2px .5px rgba(0,0,0,.2);
  transition: 0.8s ease-in-out;
}

.navbar.colorChange {
  background-color:#21624a;
  transition: 0.8s ease-in-out;
  z-index: 100;
}

.navbar.colorChange a {
  color: #fff;
}

.logo {
  text-transform: uppercase;
  font-family: 'Amatic SC', sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
.logo:hover {
  color: #21624a;
}

a {
   text-decoration: none;  
   color: #000;
}

.navbar_nav {
  width: 100%;
  padding: .4rem 0 0;
  align-items: center;
  margin-bottom: 0;
}

.nav_ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: .4rem;
  }

.nav_icons {
  align-self: center;
}

.nav_icons_a {
  padding-right: .5rem;
}

.nav_icons_a:hover {
  color: #21624a;
}